<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="Feature-Policy" value="payment 'none'" />
            <add name="Referrer-Policy" value="no-referrer" />
            <add name="X-Content-Type-Options" value="nosniff" /> <!--Need to remove for PRIVACY HUB-->
            <add name="X-XSS-Protection" value="1; mode=block" />
            <add name="X-Frame-Options" value="ALLOW-FROM https://cfg.totalwealthviews.net" /> <!--Need to remove for PRIVACY HUB-->
            <add name="Content-Security-Policy" value="   default-src 'self' *.totalwealthviews.net *.b2clogin.com https://stackpath.bootstrapcdn.com;   style-src * blob: 'unsafe-inline';   script-src * 'unsafe-inline' 'unsafe-eval';   img-src * data:;   object-src * blob: data:;   font-src * https://use.fontawesome.com;   frame-ancestors *.totalwealthviews.net; frame-src blob:" /> <!--Need to remove for PRIVACY HUB-->
            <remove name="X-Powered-By" />
         </customHeaders>
      </httpProtocol>
      <rewrite>
         <rules>
            <rule name="React Routes" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
               </conditions>
               <action type="Rewrite" url="/" />
            </rule>
         </rules>
         <outboundRules>
            <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
               <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
               <conditions>
                  <add input="{HTTPS}" pattern="on" ignoreCase="true" />
               </conditions>
               <action type="Rewrite" value="max-age=31536000" />
            </rule>
            <rule name="Remove Server header">
               <match serverVariable="RESPONSE_Server" pattern=".+" />
               <action type="Rewrite" value="" />
            </rule>
         </outboundRules>
      </rewrite>
   </system.webServer>
</configuration>
